.content7-top{
    background-color: rgb(239, 228, 250);
    height: 650px;
}
.top-down{
    padding-top: 20px;
    padding-bottom: 20px;
}
.img7{
    width: 220px;
    border-radius: 10px;
}
.content7-cart{
    display: flex;
    justify-content: space-evenly;

}
.cart7{
    width: 220px;
    height: 325px;
    text-align: left;
    border-radius: 10px;
    background-color: white;
}
.pp{
    padding-left: 10px;
}
.pm{
    width: 90px;
    padding-left: 10px;
}